<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luma Weather</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
     <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Include Axios CDN -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header id="header-wrapper" class="wrapper">
        <!-- Header content -->
         <div class="header-left">
            <img src="/images/profile.png" alt="profile image" class="profile">
            <div class="greetings">
              <span class="greeting-hello">Hello,</span>
              <span class="greeting-name">My little Princess</span>  
            </div>
         </div>

         <div class="header-right">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search for location">
                <button id="search-button">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
            
            <button id="surprise-btn">
                <span class="material-symbols-outlined">flare</span>
            </button>

            <div id="popup" class="popup">
                <div class="popup-content">
                    <span id="close-popup" class="close-btn">&times;</span>
                    <p id="quote"></p>
                </div>
            </div>
         </div>
    </header>

    <main id="middle-wrapper" class="wrapper">
        <!-- Weather and AQI content -->
         <div id="weather-section">
            <img src="/images/rain.png" alt="Weather Background" class="weather-img">

            <div id="weather-icon"><i class="material-symbols-outlined weather-icon">thermostat</i></div>
            <div class="weather-text">
                <p class="city">Your Location</p>
                <p class="weather-subtext">Current weather</p>
              </div>

              <div class="temperature-container">
                <div class="high-temperature">
                    <span class="temperature-value">_</span>
                    <span class="temperature-unit">°C</span>
                  </div>
                  <div class="low-temperature">
                    <span class="temperature-value">_</span>
                    <span class="temperature-unit">°C</span>
                  </div>
              </div>
              <p class="weather-description">condition</p>
         </div>
    </main>

    <footer id="footer-wrapper" class="wrapper">
        <!-- Forecast and recommendation content -->
    </footer>

    <!-- Link public/script.js -->
     <script src="/script.js"></script>
</body>
</html>