<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luma Weather</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
     <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Include Axios CDN -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header id="header-wrapper" class="wrapper">
        <!-- Header content -->
         <div class="header-left">
            <img src="/images/profile.png" alt="profile image" class="profile">
            <div class="double-title">
              <span class="normal-title">Hello,</span>
              <span class="bold-title">My little Princess</span>  
            </div>
         </div>

         <div class="header-right">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search for location">
                <button id="search-button">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
            
            <button id="surprise-btn">
                <span class="material-symbols-outlined">flare</span>
            </button>

            <div id="popup" class="popup">
                <div class="popup-content">
                    <span id="close-popup" class="close-btn">&times;</span>
                    <p id="quote"></p>
                </div>
            </div>
         </div>
    </header>

    <main id="middle-wrapper" class="wrapper">
        <!-- Weather and AQI content -->
         <div id="weather-section">
            <img src="/images/clear.jpg" alt="Weather Background" class="weather-img">

            <div id="weather-icon"><i class="material-symbols-outlined weather-icon">thermostat</i></div>
            <div class="weather-text">
                <p class="city">Your Location</p>
                <p class="weather-subtext">Current weather</p>
              </div>

              <div class="temperature-container">
                <div class="high-temperature">
                    <span class="temperature-value">22</span>
                    <span class="temperature-unit">°C</span>
                  </div>
                  <div class="low-temperature">
                    <span class="temperature-value">11</span>
                    <span class="temperature-unit">°C</span>
                  </div>
              </div>
              <p class="weather-description">condition</p>

              <div class="weather-components-container">
                <div class="pressure weather-component">
                    <span class="pressure-title component-title">Pressure</span>
                    <div class="title-value">
                        <span class="pressure-value">800</span>
                        <span class="pressure-unit">mb</span> 
                    </div>
                </div>
                <div class="visibility weather-component">
                    <span class="visibility-title component-title">Visibility</span>
                    <div class="title-value">
                        <span class="visibility-value">4.3</span>
                        <span class="visibility-unit"> km</span>
                    </div>  
                </div>
                <div class="humidity weather-component">
                    <span class="humidity-title component-title">Humidity</span>
                    <div class="title-value">
                        <span class="humidity-value">87</span>
                        <span class="humidity-unit">%</span> 
                    </div>
                </div>
              </div>
         </div>

         <div id="aqi-section">
            <img src="/images/air.png" alt="Air quality Background" class="aqi-img">

            <div id="aqi-icon"><i class="material-symbols-outlined aqi-icon">Air</i></div>
            <div class="aqi-text">
                <p class="aqi">Air Quality</p>
                <p class="aqi-subtext">Main polution : <span class="aqi-pollutant">PM 2.5</span></p>
            </div>

            <div class="temperature-container">
                <div class="high-temperature">
                    <span class="temperature-value aqi-color aqi-value">390</span>
                </div>
                <div class="low-temperature aqi-container">
                    <span class="temperature-value aqi-color">AQI</span>
                  </div>
            </div>
            <p class="weather-description aqi-color">West Wind</p>

            <div class="aqi-bar-container">
                <div class="progress-bar">
                    <div class="progress-fill"></div>
                </div>

                <span class="bar-text-good component-title">Good</span>
                <span class="bar-text-hazardous component-title">Hazardous</span>

                <div class="pointer-container">
                    <span class="pointer-label component-title">Standard</span>
                    <div class="tail"></div>
                </div>
            </div>
         </div>
    </main>

    <footer id="footer-wrapper" class="wrapper">
        <!-- Forecast and recommendation content -->
         <div class="forecast-section">
            <div class="title-icons-row">
                <div class="forecast-title double-title">
                    <span class="bold-title title-one">How's the</span>
                    <span class="bold-title title-two">temperature today?</span>
                </div>
                <div class="forecast-icons">
                    <div class="icon-one"><i class="material-symbols-outlined forecast-icon">thermostat</i></div>
                    <div class="icon-two"><i class="material-symbols-outlined forecast-icon-active">umbrella</i></div>
                    <div class="icon-three"><i class="material-symbols-outlined forecast-icon-active">air</i></div>
                </div>
            </div>
            <div class="statistic-row"></div>
         </div>
    </footer>

    <!-- Link public/script.js -->
     <script src="/script.js"></script>
</body>
</html>