/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    /* font */  
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0A0C17;
}

h1,h2{
    font-weight: 600;
}

p{
    font-weight: 300;
}

/* Wrappers */
.wrapper{
    width: 50%;
}

#header-wrapper{
    height: clamp(12vh, 16.11vh, 20vh);
    display: flex;
    justify-content: space-between;
}

#middle-wrapper{
    height: 38.44vh;
}

#footer-wrapper{
    background-color: gold;
    height: 45.44vh;
}

/* Header */
.header-left{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 2vw;
}

.profile{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}

.greetings{
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
}

.greeting-hello,.greeting-name {
    font-size: 2.5vh;
}

.greeting-hello {
    font-weight: 450;
}

.greeting-name{
    font-weight: 550;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-right: 2vw;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18.89vw;
    height: 5vh;
    background-color: #F5F5F5;
    padding: 0 1.39vw;
    border-radius: 1.04vw;
}

.search-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6vh;
}

#search-button {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 5vh;
    height: 100%;
    border: none;
    background-color: transparent;
}

#search-button .material-symbols-outlined {
    font-size: 1.2rem;
    color: #7b0323;
}

#search-button .material-symbols-outlined:active {
    animation: bounce 0.4s ease;
    color: #fc735a;
}
@keyframes bounce {
    0% {
        transform: scale(0.9) translateY(0);
    }
    50% {
        transform: scale(1.1) translateY(-1.5px);    
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

#surprise-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 0.2vw solid #F5F5F5 ;
    background-color: transparent;
}

#surprise-btn .material-symbols-outlined {
    font-size: 1.2rem;
    transition: all 0.2s ease;
    cursor: pointer;
    color: rgb(66, 66, 66);
}

#surprise-btn:hover{
    background-color: #7b0323;
}

#surprise-btn .material-symbols-outlined:hover {
    color: #fc735a;
}

#surprise-btn:active {
    background-color: #9c4159;
    transform: scale(0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#surprise-btn .material-symbols-outlined:active {
    color: #d4b2ab;
    transform: scale(0.7);
}

/* Style for the popup */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close-btn{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* middle-wrapper weather-section */
#weather-section {
    width: 22vw;
    height: 38vh;
    border-radius: 1.25vw;
    overflow: hidden;
    position: relative;
}

.weather-img {
    width: auto;
    height: 100%;
}

#weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: clamp(15px, 1.8vw, 40px);
    height: clamp(15px, 1.8vw, 40px);
    border-radius: 50%;
    aspect-ratio: 1;
    left: clamp(15px, 1.57vw, 30px);
    top: clamp(15px, 3.23vh, 30px);
    background-color: white;
    font-size: 1.2vw;
}

.weather-icon {
    font-size: 2.5vh;
    color: #7b0323;
}

.weather-text {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    color: white;
    position: absolute;
    left: 4.18vw;
    top: 2.5vh;
}

.city {
    font-size: 2vh;
    font-weight: 500;
    color: white;
    margin: 0;  
}

.weather-subtext {
    font-size: 1.5vh;
    color: white;
    margin: 0;
}

.temperature-container {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    position: absolute;
    top: 5.80vw;
    left: 2.08vw;
    width: 7.7vw;
}

.high-temperature {
    display: flex;
    font-size: 2.3vw;
    color: white;
}

.low-temperature {
    color: white;
    background-color: #462029;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.09vw;
    height: 2.5vh;
    border-radius: 10px;
    font-size: 1.2vh;
    font-weight: 700;
}

.weather-description {
    position: absolute;
    top: 9.11vw;
    color: white;
    left: 2.08vw;
    font-size: 0.7rem;
    font-weight: 500;
}

.weather-components-container {
    display: flex;
    gap: 1.04vw;
    position: absolute;
    bottom: 0;
    margin: 2.08vw;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    width: 5.26vw;
    height: 4vw;
    border-radius: 15px;
}

.pressure {
    background-color: #1A2841;
    color: white;
}
.visibility {
    background-color: #CBE169;
}
.humidity {
    background-color: white;
}

.component .title {
    font-size: 1.15vh;
    font-weight: 400;
    opacity: 0.8;
}

.title-value {
    font-size: 1.8vh;
    font-weight: 550;
}

.pressure .title-value,
.humidity .title-value {
    display: flex;
}

/* Medium and smaller screens */

/* Wrappers */
@media (max-width: 961px){
    .wrapper{
        width: 100%;
    }   
}