/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;

    /* font */  
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,h2{
    font-weight: 600;
}

p{
    font-weight: 300;
}

/* Wrappers */
.wrapper{
    width: 66.67vw;
}

#header-wrapper{
    height: clamp(12vh, 16.11vh, 20vh);
    display: flex;
    justify-content: space-between;
}

#middle-wrapper{
    background-color: blue;
    height: 38.44vh;
}

#footer-wrapper{
    background-color: gold;
    height: 45.44vh;
}

/* Header */
.header-left{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 3.13vw;
}

.profile{
    width: 3.81vw;
    height: 3.81vw;
    border-radius: 50%;
}

.greetings{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.greeting-hello,.greeting-name {
    font-size: 2.78vh;
}

.greeting-hello {
    font-weight: 450;
}

.greeting-name{
    font-weight: 550;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-right: 3.13vw;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18.89vw;
    height: 5vh;
    background-color: #F5F5F5;
    padding: 0 1.39vw;
    border-radius: 1.04vw;
}

.search-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6vh;
}

#search-button {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 5vh;
    height: 100%;
    border: none;
    background-color: transparent;
}

#search-button .material-symbols-outlined {
    font-size: 1.5rem;
    color: #7b0323;
}

/* Medium and smaller screens */

/* Wrappers */
@media (max-width: 961px){
    .wrapper{
        width: 100%;
    }   
}